{% extends 'base.html' %}

{% block conteudo %}
  <div class="container-fluid">
    <div>
      <img src="{{ image_url }}" class="img-responsive" alt="{{ title }}">
      <h4>{{ title }} <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        {{ views }}</h4>
      <h4><img src="{{ avatar_autor }}" class="img-circle" alt="{{ title }}"> {{ autor }}</h4>
      {% autoescape off %}{{ description }}{% endautoescape %}
    </div>
    <a href="{% url  'home' %}">< Voltar</a>
    <hr>
  </div>
{% endblock %}